@charset "ISO-8859-1";

.quicklinks {
    float: left;
    text-align: left;
    line-height: 50px;
}

.link{
    color: #1c1c1a;
    font-family: "Yu Gothic";
    text-decoration: none;
    font-weight: 500;
    font-size:23px;
    display: inline-flex;
    padding-top: 20px;
    height: 50px;
    width: max-content;
}

.link:hover{
    font-weight: bold;
}
