<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/alerts.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" ></script>
    <head>
        <title>Alerts</title>
    </head>
    <body th:with="alertsNull=${alertsList==null or alertsList.empty}" >
        <div th:replace="header :: header" ></div>
        <div th:replace="sideBarNavigation :: sideBar" ></div>
        <section class="myAlerts" >
            <div class="createButton" >
                <button class="button create" id="createAlertBtn" >Create +</button>
            </div>
            <div th:replace="createAlertModal :: createAlertModal" ></div>
            <h1 class="alertHeading" th:if="${!alertsNull}" >Alerts</h1>
            <p class="zeroState" th:if="${alertsNull}" >No alerts so far.</p>
            <table class="alertTable" th:if="${!alertsNull}" >
                <tr>
                    <th>Subject</th>
                    <th>Manage</th>
                    <th></th>
                </tr>
                <tr th:each="alert : ${alertsList}" >
                    <td th:text="${alert.subject}" ></td>
                    <td>
                        <a class="button editAlertBtn" th:id="${alert.id}" >Edit</a>
                        <!-- The Edit Modal -->
                        <div th:id="'modal' + ${alert.id}" class="modal" >
                            <!-- Modal content -->
                            <div class="modal-content" >
                                <span class="close" >&times;</span>
                                <h2 class="alertModalHeading" id ="alertModalHeading" >Edit Alert</h2>
                                <form class="createAlertModal" th:object="${alertsForm}" th:action="@{/saveAlert}" method="post" id="alertsForm" >
                                    <input type="hidden" th:value="${alert.id}" th:name="id" >
                                    <p class="validationAlerts" >Please fill all fields.</p>
                                    <label th:for="'subject' + ${alert.id}" class="alertLabel" >Subject:</label><br>
                                    <input type="text" th:name="subject" class="alertSubject" maxlength="50" th:id="'subject' + ${alert.id}"  th:value="${alert.subject}" >
                                    <br>
                                    <label th:for="'description' + ${alert.id}" class="alertLabel" >Description:</label>
                                    <br>
                                    <textarea th:name="description" class="alertDescription" th:id="'description' + ${alert.id}" rows="8"cols="45" maxlength="200" th:text="${alert.description}" ></textarea>
                                    <br>
                                    <div class= "alertModalButtons" >
                                        <a class="button cancel" id="cancel" >Cancel</a>
                                        <input type="submit" class="button save" th:id="${alert.id}" value="Save" >
                                    </div>
                                </form>
                            </div>
                        </div>
                    </td>
                    <td>
                        <a class="button delAlertBtn" th:id="${alert.id}" >Delete</a>
                        <!-- The Delete Modal -->
                        <div th:id="'delete' + ${alert.id}" class="modal" >
                            <!-- Modal content -->
                            <div class="delete-modal-content" >
                                <span class="close" >&times;</span>
                                <p class="delText" >Are you sure you want to delete Alert ?</p>
                                <form class="deleteAlertModal" th:action="@{/deleteAlert}" method="post" >
                                    <input type="hidden" th:value="${alert.id}" th:name="id" >
                                    <span class="warningSign" >&#9888;</span>
                                    <div class= "alertModalButtons" >
                                        <a class="button cancel" >No</a>
                                        <input type="submit" class="button yes" value="Yes" >
                                    </div>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </section>
        <div th:replace="footer :: footer" ></div>
        <script type="text/javascript" th:src="@{/js/alertsManage.js}" ></script>
    </body>
</html>