<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/css/displayAnnouncements.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/alerts.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<head>
<title>Announcements</title>
</head>
<body
    th:with="checkannouncementsManageNotNull=${announcementsList!=null and !announcementsList.empty},checknnouncementsManageNull=${announcementsList==null or announcementsList.empty}">
    <div th:replace="header :: header"></div>
    <div th:replace="sideBarNavigation :: sideBar"></div>
    <main class="myAnnouncements">
    <div class="createButton">
        <button class="button create" id="createAnnouncementBtn">Create +</button>
    </div>
    <div th:replace="createAnnouncementModal :: createAnnouncementModal"></div>
    
    <h1 class="announcementsHeading" th:if=${checkannouncementsManageNotNull}>Announcements</h1>
    <p th:if="${announcementsList == null || announcementsList.empty}" class="zeroState">No announcements so far.</p>
    <table th:if="${announcementsList != null && !announcementsList.empty}" class="announcementTable">
        <tr>
            <th>Subject</th>
            <th>Manage</th>
            <th></th>
        </tr>
        <tr th:each="announcement : ${announcementsList}">
            <td th:text="${announcement.subject}"></td>
            <td>
                <a class="button editAnnouncementBtn" th:id="${announcement.id}" >Edit</a>
                <div th:id="'modal' + ${announcement.id}" class="modal">
                    <!--Modal content-->
                    <div class="announcementModal-content">
                        <span class="close">&times;</span>
                        <h2 class="announcementModalHeading">
                            Edit Announcement
                        </h2>
                        <form th:object="${announcementForm}" class="createAnnouncementModal"
                            th:action="@{/saveAnnouncement}" method="post" id="announcementForm">
                            <input type="hidden" th:value="${announcement.id}" th:name="id" >
                            <p class="validationAnnouncements" >Subject and description are required.</p>
                            
                            <label th:for="'subject' + ${announcement.id}" class="announcementLabel">Subject:</label>
                            <br>   
                            <input type="text" th:name="subject" class="announcementSubject" maxlength="80" th:id="'subject' + ${announcement.id}" th:value="${announcement.subject}" >
                             <br> 
                             
                            <label th:for="'description' + ${announcement.id}" class="announcementLabel">Description:</label>
                            <br> 
                            <textarea th:id="'description' + ${announcement.id}" th:name="description"  maxlength="500" rows="8" cols="45" th:text="${announcement.description}" ></textarea>
                             <br>
                            
                            <div class="dropdownannouncement">
                                <label for="Background color" id="option">Background Color:</label>
                                <select
                                    class="AnnouncementColor" id="selectedColor" th:name="selectedColor" th:value="${selectedColor}">
                                    <option th:each="color : ${T(com.ei.enums.AnnouncementColor).values()}" 
                                        th:value="${color}" th:text="${color.getDescription()}"
                                        th:selected="${color == announcement.color}"></option>
                                </select>
                            </div>
                            <br> 
                            <label for="link" class="announcementLabel" >URL Link:</label>
                            <br> 
                            <input type="text" id="link" th:name="link" class="announcementLink" th:value="${announcement.link}"
                                placeholder="Optional" >   
                             <br> 
                            <div class="announcementModalButtons">
                                <a class="button cancel" id="Modalcancel" >Cancel</a> 
                                <input type="submit" class="button save" th:id="${announcement.id}" value="Save">
                            </div>
                        </form>
                    </div>
                </div>
            </td>
            <td>
                <a class="button delAnnouncementBtn" th:id="${announcement.id}" >Delete</a>
                <!-- The Delete Modal -->
                <div th:id="'delete' + ${announcement.id}" class="modal">
                    <!-- Modal content -->
                    <div class="delete-announcementModal-content">
                        <span class="close">&times;</span>
                        <p class="delText">Are you sure you want to delete Announcement ?</p>
                        <form class="deleteAnnouncementModal" th:action="@{/deleteAnnouncement}" method="post" >
                            <input type="hidden" th:value="${announcement.id}" th:name="id" >
                            <span class="warningSign">&#9888;</span>
                            <div class="announcementModalButtons">
                                <a class="button cancel" >No</a> 
                                <input type="submit" class="button yes" value="Yes">
                            </div>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    </main>
    <div th:replace="footer :: footer"></div>
    <script type="text/javascript" th:src="@{/js/announcementsManage.js}"></script>
</body>
</html>