<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
    <div id="createAlertModal" class="modal" th:fragment="createAlertModal" >
        <!-- Modal content -->
        <div class="modal-content" >
            <span class="close" >&times;</span>
            <h2 class="alertModalHeading" id ="alertModalHeading" >Add Alert</h2>
            <form class="createAlertModal" th:object="${alertsForm}" th:action="@{/saveAlert}" method="post" id="alertsForm" >
                <p class="validationAlerts alertsError" id="alertsError" >Please fill all fields.</p>
                <label for="subject" class="alertLabel" >Subject:</label><br>
                <input type="text" th:name="subject" class="alertSubject" maxlength="50" id="subject" value="" >
                <br>
                <label for="description" class="alertLabel" >Description:</label>
                <br>
                <textarea id="description" rows="8"cols="45"
                    th:name="description"  class="description"  maxlength="200" ></textarea>
                <br>
                <div class= "alertModalButtons" >
                    <a class="button cancel" id="cancel" >Cancel</a>
                    <input type="submit" class="button save" value="Save" >
                </div>
            </form>
        </div>
    </div>