
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--  The Create Modal-->
<div id="createAnnouncementModal" class="modal" th:fragment="createAnnouncementModal">
    <div class="announcementModal-content">
        <span class="close">&times;</span>
        <h2 class="announcementModalHeading">
            <span id="announcementModalHeading"></span> Announcement
        </h2>
        <form th:object="${announcementForm}" class="createAnnouncementModal" th:action="@{/saveAnnouncement}"
            method="post" id="announcementForm">
            <p class="validationAnnouncements" >Subject and description are required.</p>
            <label for="subject" class="announcementLabel">Subject:</label>
            <br> 
            <input type="text" id="subject" class="announcementSubject" maxlength="80" th:field="*{subject}">
            <br> 
                
            <label for="description" class="announcementLabel">Description:</label> 
            <br>
            <textarea id="description" name="description" rows="8" cols="45" maxlength="500"
                th:field="*{description}"></textarea>
            <br>
            
            <div class="dropdownannouncement">
                <label for="Background color" id="option">Background Color:</label>
                <select
                    class="AnnouncementColor" id="announcementColor" th:field="*{selectedColor}">
                    <option th:each="color : ${T(com.ei.enums.AnnouncementColor).values()}" th:value="${color}"
                        th:text="${color.getDescription()}"></option>
                </select>
            </div>
            
            <br>
            <label for="urlLink" class="announcementLabel">URL Link:</label><br> <input
                type="text" name="urlLink" class="announcementSubject" th:field="*{link}"
                placeholder="Optional" > 
            <br>
            
            <div class="announcementModalButtons">
                <a class="button cancel" id="Modalcancel" >Cancel</a> 
                <input type="submit"
                    class="button save" value="Save">
            </div>
        </form>
    </div>
</div>
</html>
