<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment= "footer" >

 525 N. Tryon St. \ Suite 900 \ Charlotte, NC 28202
 <div class="medialinks">
 <a href="#"><img src="imgs/facebook.png" class="" alt="Facebook"></a>
 <a href="https://www.instagram.com/empoweredcharlotte/" target="_blank"><img src="imgs/instagram.png" class="" alt="Instagram"></a>
 <a href="https://www.linkedin.com/company/empowered-benefits/" target="_blank"><img src="imgs/linkedin.png" class="" alt="Linked In"></a>
 </div>


</footer>