<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/quicklinks.css}" />

<body th:fragment="quickLinks">
    <div class="quicklinks">
        <a class="link" href="https://confluence.empoweredbenefits.com/" target="_blank"><img src="imgs/Calendar.png" alt="Calendar" align="middle"> Calendar</a> <br> 
        <a class="link" href="https://confluence.empoweredbenefits.com/" target="_blank"><img src="imgs/Confluence.png" alt="Confluence">Confluence</a> <br> 
        <a class="link" href="https://www.paycomonline.com/" target="_blank"><img src="imgs/Paycom.png" alt="Paycom">Paycom</a> <br> 
        <a class="link" href="https://confluence.empoweredbenefits.com/x/tNM3" target="_blank"><img src="imgs/briefcase.png" alt="Open Positions"> Open Positions</a>
    </div>
</body>
</html>